* ::after ::before {
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.status {
  text-align: center;
  padding: 20px;
  color: blue;
}



.game {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  height: 30%;
  text-align: center;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  margin-right: 100px;
  display: block;
  display: flex;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-right: 28px;
  margin-top: 30px;
}


